.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6 {
	background:#fff;
	border:1px solid #eee;
	padding:20px;
	margin-right: 20px;
	min-height:100%;
}
.leftpanel {
	display:none !important;
}
.rightpanel {
	margin-left: 0px !important;
}
@media (min-width: 1200px){
	.col-lg-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 37.666667%;
		-ms-flex: 0 0 37.666667%;
		flex: 0 0 37.666667%;
	}
}